- job_name: '{{ monitoring_request_id }}_cadvisor_memory'
  scrape_interval: 10s
  metrics_path: /metrics
  static_configs:
  - targets:
    - {{ sidecar_service_details['host'] }}:{{ sidecar_service_details['port'] }}
  metric_relabel_configs:
  - source_labels: [__name__]
    regex: (?i)(container_memory_cache|container_memory_failcnt|container_memory_failures_total|container_memory_max_usage_bytes|container_memory_rss|container_memory_swap|container_memory_mapped_file|container_memory_usage_bytes|container_memory_working_set_bytes)
    action: keep
  - source_labels: ['container_label_io_kubernetes_pod_namespace']
    regex: '{{ resource.metadata.namespace }}'
    action: keep
  - source_labels: ['container_label_io_kubernetes_pod_name']
    regex: '{{ resource.metadata.name }}-[bcdfghjklmnpqrstvwxz2456789]{1,10}-[bcdfghjklmnpqrstvwxz2456789]{1,5}'
    action: keep
