---
apiVersion: v1
kind: Service
metadata:
  name: service-{{ md5('cadvisor-memory-exporter-' + monitoring_request_id) }}
  namespace: {{ resource.metadata.namespace }}
  labels:
    app: {{ md5('cadvisor-memory-exporter-' + monitoring_request_id) }}
spec:
  selector:
    varys-{{ md5('cadvisor-memory-exporter-' + monitoring_request_id) }}-probe: 'true'
  ports:
    - name: http-10002
      port: 10002
      targetPort: http-10002
  type: NodePort
