---
{% if probe_roles_to_remove %}
- hosts: run_hosts
  vars:
    - stop: true
  roles:
{% for role in probe_roles_to_remove %}
    - {{ role }}
{% endfor %}
{% endif %}
{% if probe_roles_to_add %}
- hosts: run_hosts
  vars:
    - start: true
  roles:
{% for role in probe_roles_to_add %}
    - {{ role }}
{% endfor %}
{% endif %}
