name: {{ md5('cadvisor-cpu-exporter-' + monitoring_request_id) }}
image: k8s.gcr.io/cadvisor:v0.33.0

args:
  - '--disable_metrics=tcp,udp,sched,process,network,disk,diskIO'
  - '--port=10000'
ports:
- name: http-10000
  containerPort: 10000
volumeMounts:
- name: {{ md5('cadvisor-cpu-exporter-rootfs' + monitoring_request_id) }}
  mountPath: /rootfs
  readOnly: true
- name: {{ md5('cadvisor-cpu-exporter-var-run' + monitoring_request_id) }}
  mountPath: /var/run
  readOnly: false
- name: {{ md5('cadvisor-cpu-exporter-sys' + monitoring_request_id) }}
  mountPath: /sys
  readOnly: true
- name: {{ md5('cadvisor-cpu-exporter-docker' + monitoring_request_id) }}
  mountPath: /var/lib/docker
  readOnly: true
- name: {{ md5('cadvisor-cpu-exporter-disk' + monitoring_request_id) }}
  mountPath: /dev/disk
  readOnly: true
livenessProbe:
  httpGet:
    path: /healthz
    port: 10000
  initialDelaySeconds: 5
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: /metrics
    port: 10000
  initialDelaySeconds: 5
  timeoutSeconds: 5
