- job_name: '{{ monitoring_request_id }}_cadvisor_cpu'
  scrape_interval: 10s
  metrics_path: /metrics
  static_configs:
  - targets:
    - {{ sidecar_service_details['host'] }}:{{ sidecar_service_details['port'] }}
  metric_relabel_configs:
  - source_labels: [__name__]
    regex: (?i)(container_cpu_usage_seconds_total|container_cpu_system_seconds_total|container_cpu_user_seconds_total|container_cpu_load_average_10s)
    action: keep
  - source_labels: ['container_label_io_kubernetes_pod_namespace']
    regex: '{{ resource.metadata.namespace }}'
    action: keep
  - source_labels: ['container_label_io_kubernetes_pod_name']
    regex: '{{ resource.metadata.name }}-[bcdfghjklmnpqrstvwxz2456789]{1,10}-[bcdfghjklmnpqrstvwxz2456789]{1,5}'
    action: keep
