---
apiVersion: v1
kind: Service
metadata:
  name: service-{{ md5('cadvisor-cpu-exporter-' + monitoring_request_id) }}
  namespace: {{ resource.metadata.namespace }}
  labels:
    app: {{ md5('cadvisor-cpu-exporter-' + monitoring_request_id) }}
spec:
  selector:
    varys-{{ md5('cadvisor-cpu-exporter-' + monitoring_request_id) }}-probe: 'true'
  ports:
    - name: http-10000
      port: 10000
      targetPort: http-10000
  type: NodePort
