name: {{ md5('kube-state-metrics-exporter-' + monitoring_request_id) }}
image: quay.io/coreos/kube-state-metrics:v1.7.1
args:
  - '--collectors=deployments,pods'
  - '--namespace={{ resource.metadata.namespace }}'
  - '--port=10001'
ports:
- name: http-10001
  containerPort: 10001
livenessProbe:
  httpGet:
    path: /healthz
    port: 10001
  initialDelaySeconds: 5
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: 10001
  initialDelaySeconds: 5
  timeoutSeconds: 5
