- job_name: '{{ monitoring_request_id }}_kube_state_metrics'
  scrape_interval: 10s
  metrics_path: /metrics
  static_configs:
  - targets:
    - {{ sidecar_service_details['host'] }}:{{ sidecar_service_details['port'] }}
  metric_relabel_configs:
  - source_labels: [__name__]
    regex: (?i)(kube_pod_container_status_restarts_total|kube_pod_labels)
    action: keep
  - source_labels: ['pod']
    regex: '{{ resource.metadata.name }}-[bcdfghjklmnpqrstvwxz2456789]{1,10}-[bcdfghjklmnpqrstvwxz2456789]{1,5}'
    action: keep
