---
apiVersion: v1
kind: Service
metadata:
  name: service-{{ md5('kube-state-metrics-exporter-' + monitoring_request_id) }}
  namespace: {{ resource.metadata.namespace }}
  labels:
    app: {{ md5('kube-state-metrics-exporter-' + monitoring_request_id) }}
spec:
  selector:
    varys-{{ md5('kube-state-metrics-exporter-' + monitoring_request_id) }}-probe: 'true'
  ports:
    - name: http-10001
      port: 10001
      targetPort: http-10001
  type: NodePort
