- job_name: '{{ monitoring_request_id }}_cadvisor_network_inbound'
  scrape_interval: 10s
  metrics_path: /metrics
  static_configs:
  - targets:
    - {{ sidecar_service_details['host'] }}:{{ sidecar_service_details['port'] }}
  metric_relabel_configs:
  - source_labels: [__name__]
    regex: (?i)(container_network_receive_bytes_total|container_network_receive_packets_dropped_total|container_network_receive_packets_total|container_network_receive_errors_total)
    action: keep
  - source_labels: ['container_label_io_kubernetes_pod_namespace']
    regex: '{{ resource.metadata.namespace }}'
    action: keep
  - source_labels: ['container_label_io_kubernetes_pod_name']
    regex: '{{ resource.metadata.name }}-[bcdfghjklmnpqrstvwxz2456789]{1,10}-[bcdfghjklmnpqrstvwxz2456789]{1,5}'
    action: keep
