# {{ ansible_managed }}
metricbeat.modules:
- module: system
  metricsets:
  - cpu
  enabled: true
  period: 20s
  processes: ['.*']
  cpu.metrics: ["percentages", "normalized_percentages"]
reload.enabled: false
output.kafka:
  hosts: ["kafka:9092"]
{% if monitoring_request_id is defined %}
  topic: "probes.{{ monitoring_request_id }}.metricbeat_cpu_consumption"
{% elif target_id is defined %}
  topic: "probes.{{ target_id }}.metricbeat_cpu_consumption"
{% endif %}
fields_under_root: true
fields:
{% if monitoring_request_id is defined %}
    index_to_use: "{{ monitoring_request_id }}-metricbeat_cpu_consumption"
{% elif target_id is defined %}
    index_to_use: "{{ target_id }}-metricbeat_cpu_consumption"
{% endif %}
