# {{ ansible_managed }}
metricbeat.modules:
- module: mongodb
  metricsets:
  - status
  enabled: true
  period: 20s
  hosts: ["mongodb://localhost:27017"]
reload.enabled: false
output.kafka:
  hosts: ["kafka:9092"]
{% if monitoring_request_id is defined %}
  topic: "probes.{{ monitoring_request_id }}.metricbeat_cpu_consumption"
{% elif target_id is defined %}
  topic: "probes.{{ target_id }}.metricbeat_cpu_consumption"
{% endif %}
fields_under_root: true
fields:
{% if monitoring_request_id is defined %}
    index_to_use: "{{ monitoring_request_id }}-metricbeat_cpu_consumption"
{% elif target_id is defined %}
    index_to_use: "{{ target_id }}-metricbeat_cpu_consumption"
{% endif %}
