name: {{ md5('metricbeat-memory-consumption-' + monitoring_request_id) }}
image: docker.elastic.co/beats/metricbeat-oss:7.0.0
args: [
  "-c", "/etc/metricbeat.yml",
  "-e",
]
env:
- name: POD_NAME
  valueFrom:
    fieldRef:
      fieldPath: metadata.name
- name: APP_NAME
  valueFrom:
    fieldRef:
      fieldPath: metadata.labels['app']
volumeMounts:
- name: {{ md5('metricbeat-memory-consumption-config-map-' + monitoring_request_id) }}
  mountPath: /etc/metricbeat.yml
  readOnly: true
  subPath: metricbeat.yml
- name: {{ md5('metricbeat-memory-consumption-docker-socket-' + monitoring_request_id) }}
  mountPath: /var/run/docker.sock
  readOnly: true
