---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ md5('metricbeat-memory-consumption-config-map-' + monitoring_request_id) }}
  namespace: {{ resource.metadata.namespace }}
  labels:
    probe: metricbeat_memory_consumption
    monitoring_request_id: "{{ monitoring_request_id }}"
    cloud_property: {{ cloud_property }}
data:
  metricbeat.yml: |-
    metricbeat.modules:
    - module: docker
      metricsets: ["memory"]
      hosts: ["unix:///var/run/docker.sock"]
      period: 20s
      enabled: true
      labels.dedot: true
      processors:
      - drop_event:
          when:
            not:
              equals:
                docker.container.labels.io_kubernetes_pod_name: '${POD_NAME}'
      - drop_event:
          when:
            not:
              equals:
                docker.container.labels.io_kubernetes_container_name: '${APP_NAME}'
    reload.enabled: false
    output.kafka:
      hosts: ["kafka:9092"]
      topic: probes.{{ monitoring_request_id }}.metricbeat_memory_consumption
    fields_under_root: true
    fields:
      index_to_use: {{ monitoring_request_id }}-metricbeat_memory_consumption
