- name: {{ md5('metricbeat-cpu-consumption-docker-socket-' + monitoring_request_id) }}
  hostPath:
    path: /var/run/docker.sock
- name: {{ md5('metricbeat-cpu-consumption-config-map-' + monitoring_request_id) }}
  configMap:
    name: {{ md5('metricbeat-cpu-consumption-config-map-' + monitoring_request_id) }}
