name: {{ md5('cadvisor-network-outbound-exporter-' + monitoring_request_id) }}
image: k8s.gcr.io/cadvisor:v0.33.0

args:
  - '--disable_metrics=tcp,udp,sched,disk,percpu'
  - '--port=10004'
ports:
- name: http-10004
  containerPort: 10004
volumeMounts:
- name: {{ md5('cadvisor-network-outbound-exporter-rootfs' + monitoring_request_id) }}
  mountPath: /rootfs
  readOnly: true
- name: {{ md5('cadvisor-network-outbound-exporter-var-run' + monitoring_request_id) }}
  mountPath: /var/run
  readOnly: false
- name: {{ md5('cadvisor-network-outbound-exporter-sys' + monitoring_request_id) }}
  mountPath: /sys
  readOnly: true
- name: {{ md5('cadvisor-network-outbound-exporter-docker' + monitoring_request_id) }}
  mountPath: /var/lib/docker
  readOnly: true
- name: {{ md5('cadvisor-network-outbound-exporter-disk' + monitoring_request_id) }}
  mountPath: /dev/disk
  readOnly: true
livenessProbe:
  httpGet:
    path: /healthz
    port: 10004
  initialDelaySeconds: 5
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: /metrics
    port: 10004
  initialDelaySeconds: 5
  timeoutSeconds: 5
