- name: {{ md5('cadvisor-network-outbound-exporter-rootfs' + monitoring_request_id) }}
  hostPath:
    path: /
- name: {{ md5('cadvisor-network-outbound-exporter-var-run' + monitoring_request_id) }}
  hostPath:
    path: /var/run
- name: {{ md5('cadvisor-network-outbound-exporter-sys' + monitoring_request_id) }}
  hostPath:
    path: /sys
- name: {{ md5('cadvisor-network-outbound-exporter-docker' + monitoring_request_id) }}
  hostPath:
    path: /var/lib/docker
- name: {{ md5('cadvisor-network-outbound-exporter-disk' + monitoring_request_id) }}
  hostPath:
    path: /dev/disk
