---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ md5('metricbeat-mongodb-config-map-' + monitoring_request_id) }}
  namespace: {{ resource.metadata.namespace }}
  labels:
    probe: metricbeat_mongodb
    monitoring_request_id: "{{ monitoring_request_id }}"
    cloud_property: {{ cloud_property }}
data:
  metricbeat.yml: |-
    metricbeat.modules:
    - module: mongodb
      metricsets: ["status"]
      hosts: ["mongodb://localhost:27017"]
      period: 20s
      enabled: true
      labels.dedot: true
    reload.enabled: false
    output.kafka:
      hosts: ["kafka:9092"]
      topic: probes.{{ monitoring_request_id }}.metricbeat_mongodb
    fields_under_root: true
    fields:
      index_to_use: {{ monitoring_request_id }}-metricbeat_mongodb
